.nav-links-items {
    display: flex;
}

.nav-links {
    align-items: center;
    gap: 10px;
}

.nav-actions {
    display: flex;
}

.nav-link {
    display: flex;
    padding: 7.5px;
    gap: 5px;
}

.nav-dropdown {
    position: relative;
}

.nav-dropdown-content {
    position: absolute;
    top: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    width: calc(100% + 50px);
}

.nav-action-content {
    position: absolute;
    top: 100%;
}

.nav-dropdown-content > li {
    display: flex;
    flex-grow: 1;
}

.nav-dropdown-content-item {
    padding: 10px;
}

.desktop-navbar {
    width: 100%;
}

.nav-content {
    width: 100%;
    justify-content: space-between;
}

.nav-dropdown-button {
    display: flex;
    align-items: center;
}

.nav-dropdown-button > button {
    height: 100%;
}

.nav-action {
    position: relative;
}

.nav-action > button {
    color: #F2F2F2;
    padding: 12.5px;
    height: 100%;
}